.drag-box.vertical{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    row-gap: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(13, 54, 67);
    border-radius: 6px;
    padding-block: 10px;
}


.drag-tab.vertical{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 25vw;
    height: 60vh;
    margin: 0;
}