.drag-elem{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(13, 54, 67);
    width: 80%;
    border-radius: 6px;
    background-color: rgba(44, 190, 239, 0.459);
}

.drag-elem *{
    margin: 5px
}