.drag-box{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
    height: 60vh;
    overflow-y: scroll;
    row-gap: 10px;
    border: 2px solid rgb(13, 54, 67);
    border-radius: 6px;
    padding-block: 10px;
}