.searchBar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    flex-grow: 1;
   /*  border-bottom: 2px solid rgb(13, 54, 67); */

}



.searchBar .inputAreas{
    border: 0px solid white;
    border-radius: 4px;
    background: white;
    margin: 5px;
    box-shadow: none;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.searchBar .inputAreas:hover{
    transition-duration: 0.2s;
    box-shadow: rgb(222, 222, 222);
    -webkit-box-shadow: 0 0 0 30px rgb(222, 222, 222) inset !important;
}

.addBtn{
    transition-duration: 0.4s;
    margin: auto;
    flex-grow: 3;
    border-radius: 1000px;
    margin-inline: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid rgb(13, 54, 67);
    background-color: rgb(23, 164, 211);
    color: white;
}

.addBtn:hover{
    transition-duration: 0.3s;
    background-color: rgb(39, 154, 193);
    box-shadow: inset 0 0 5px rgb(13, 54, 67);
  }

.addBtn:active{
    transition-duration: 0.1s;
    background-color: rgb(20, 77, 96);
}
